/* Style Sheet Super Cerdo */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,600,400);
html, body{
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0%;
    overflow-x: hidden;
}
.container {
    height: 100%;
}
#wrapper {
    height: 100%;
}
#fb-root {
    height: 100%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F3F3F;
    font-size: 10px;
    font-weight: 900;
}
.friend-check {
    background-color: white;
    position: absolute;
    margin-left: 24%;
    margin-top: -50%;
    padding-top: 0%;
    width: 60%;
}

.banda {
    padding-top: 51%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
    width: 35%;
    color: #f8f8f8;
    background: url(../img/barra_roja/1.png) no-repeat ;
    background-size: contain;
    -o-background-size: cover;
    position:relative;
    margin-bottom: -3%;
}

.fb_api {
    position: absolute;
    top: 58%;
    left: 48%;
    margin: 0;
    margin-top: -30px;
    margin-left: -215px;
    width: 450px;
    padding: 0;
}

.fb_div {
    margin-top: 50px;
    position: absolute;
}
td {
    width: 100px;
    padding: 0;
}
.friend-frame {
    background: url(../img/plano-foto-amigos-fb.png) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position:relative;
    padding-top: 169%;
    width: 100%;
    margin: 0 !important;
}

.friend-photo {
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}

.friend-name {
    position: absolute;
    margin-top: -80%;
    width: 50%;
    margin-left: 25%;
}
.user-name {
    position: absolute;
    left: 15%;
    top: 36%;
    width: 345px;
    margin-left: 0;
}
#user-name-p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.user-frame {
    background: url(../img/marco-foto-avatar.png) no-repeat ;
    background-size: contain;
    -o-background-size: cover;
    position:relative;
    padding-top: 43%;
    width: 44%;
    margin-left: 29px;
}

.user-pic {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 12%;
    margin-top: -85%;
    padding-top: 74%;
    width: 73%;
}
.footer {
    height: 18%;
    bottom: 2%;
    position: absolute;
    width: 100%;
    margin: 0;
}
.costillas {
    position: absolute;
    padding: 0;
    width: 100%;
    background-color: rgba(255,255,255,00.5);
    height: 100%;
}
.row ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin-left: 0.3%;
    margin-top: 0.4%;

}
.row li {
    width: 14%;
    display: inline-block;
}

.detalle-bbq {
    background: url(../img/carousel_big/1-costillita-barbecue-on.png) no-repeat;
    background-size: contain;
    -o-background-size: cover;
}
img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.img-inline {
    float: right;
    margin: 0px 0px 15px 15px;
}

.caluga{
    width:14vw;
    height:100%;
    float: left;
    display: inline-block;
    margin-left: 3.5px;
}

.clear{
    clear: both;
}

.prod1{
    background-image: url(../img/producto-1-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod2{
    background-image: url(../img/producto-2-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod3{
    background-image: url(../img/producto-3-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod4{
    background-image: url(../img/producto-4-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod5{
    background-image: url(../img/producto-5-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod6{
    background-image: url(../img/producto-6-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod7{
    background-image: url(../img/producto-7-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod1:hover{
    background-image: url(../img/producto-1-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod2:hover{
    background-image: url(../img/producto-2-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod3:hover{
    background-image: url(../img/producto-3-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod4:hover{
    background-image: url(../img/producto-4-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod5:hover{
    background-image: url(../img/producto-5-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod6:hover{
    background-image: url(../img/producto-6-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod7:hover{
    background-image: url(../img/producto-7-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive 1*/

img {
    max-width: 100%;
    max-height: 100%;
}

/* Responsive 2*/

/*#banda {
width: 614px;
height: 654px;
background-image: url(../img/banda-roja-completa.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}*/

#medallas{
    float: right;
    position: absolute;
    left:59%;
    top: 0%;
}




.no-padding {

    padding-left: 0px !important;
    padding-right: 0px !important;

}


/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}



/* 7 Columns */

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
/* 14% = 100% (full-width row) divided by 7 */

img{
    max-width: 100%;
}

/* Facebook */

.facebooklogin{
    font-size:100%;
    font-family:arial;
    display:block;
    width:200px;
    height:20px;
    background-color:#142dac;
    color: #FFFFFF;
    text-decoration:none;
    padding:20px;
    border-radius:5px;
    margin:0 auto;
    text-align:center;
}

.facebooklogin:hover{
    background-color:#4158cc;
}

.user{
    font-size:100%;
    font-family:arial;
    display:block;
    width:200px;
    height:20px;
    background-color:#142dac;
    color: #FFFFFF;
    text-decoration:none;
    padding:20px;
    border-radius:5px;
    margin:0 auto;
    text-align:center;
}

.fb-button {

    margin: 315px 0px 0px 130px;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #dc0c1b;
    z-index: 2;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
.overlay .easy_load {
    width: 74px;
    height: 74px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37px 0 0 -37px;
    background: transparent url(../img/easy.png) no-repeat; }
.overlay.active {
    opacity: 1;
    visibility: visible; }
.overlay .barra-load {
    width: 0;
    height: 40px;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease; }

/*CHECKBOXES*/
.font-check {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 32%;
}
.font-check:before, .font-check:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute; top: 0; left: 0;
}
.font-check:before {
    content: '\f096'; /*unchecked*/
}
.font-check:after {
    content: '\f046'; /*checked*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.35s;
}
.font-checked {
    content: '\f046'; /*checked*/
    overflow: hidden;
    max-width: 25px;
    opacity: 1;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label:after {
    max-width: 25px;
    opacity: 1;
}

.font-check:before, .font-check:after {color: hsl(0, 45%, 40%);}

/*.ULARIO */

.form-control {
    display: block;
    width: 100%;
    height: 22px;
    padding: 0 5px;
    font-size: 128%;
    line-height: 100%;
    color: #7f1805;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #9F180F;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #E22516;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(185, 67, 13, 1);
}

.white-bg-red-border {
    color: #010000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.form-api {
    width: 275px;
    position: relative;
    margin-left: 23%;
    margin-top: -97%;
}
small, .small {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 89%;
    font-weight: 400;
}
.email-in-use {
    color: #FFF;
    margin-top: 1%;
    font-size: 12px;
    font-weight: 400;
}

/* RESPONSIVES DESKTOPS */
@media only screen and (min-width : 1824px) {
    .banda {
        padding-top: 61%;
        width: 42%;
    }
    .footer {
        height: 209px;
    }

    .user-name {
        margin-top: -85%;
        width: 64%;
    }
    #medallas {
        top: 15%;
        left: 63%;
    }
    .white-bg-red-border {
        font-size: 13px;
    }
    .row ul {
        margin-left: 0.5%;
    }
    .row li {

    }
    .form-api {
        width: 410px;
        margin-left: 23%;
        margin-top: -91%;
    }
    #enviar-button {
        margin: 6%
    }
    #terminos-condiciones {
        margin-top: 0%;
    }
    .form-control-fix {
        display: block;
        width: 100%;
        height: 28px;
        padding: 0 5px;
        font-size: 134%;
        line-height: 100%;
        color: #7f1805;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #9F180F;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}

@media only screen and (min-width : 1000px) and (max-width: 1280px) and (min-height: 800px) {
    .banda {
        padding-top: 62%;
        width: 42%;
        margin-bottom: -1%;
    }
    .footer {
        height: 14%;
    }
    .form-api {
        margin-top: -98%;
    }
}

@media only screen and (max-width : 1024px) and (min-width: 768px) {
    .banda {
        width: 51%;
        padding-top: 74%;
        margin-bottom: -2%;
    }
    .footer {
        height: 11.7%;
    }
    .row ul {
        margin-left: 0.1%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 700px) and (max-height: 600px) {
    .footer {
        height: 71px;
    }
    .row ul {
        margin-left: 0.4%;
    }
    .row li {
        margin-left: -1px;
    }

    .form-api {
        width: 214px;
        position: relative;
        margin-left: 22%;
        margin-top: -97%;
    }
    .white-bg-red-border {
        font-size: 9px;
    }
    .form-control {
        height: 17px;
    }
    .user-name {
        left: 11%;
    }
}
@media only screen and (max-width: 568px) and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) {
    .banda {
        width: 40%;
        padding-top: 56%;
    }
    .footer {
    }
    .fb_api {
        width: 200px;
        margin-left: -100px;
        top: 64%;
    }
    .footer {
        height: 15%
    }

    .row ul {
        margin-top: 2px;
        margin-left: 6px;
    }
    .row li {
        width: 13.5%;
    }
}

@media only screen and (max-width: 480px) and (min-width: 480px) and (max-height: 320px) and (orientation : landscape) {
    .banda {
        width: 46%;
        padding-top: 65%;
    }
    .footer {
        height: 43px;
    }
    .row ul {
        margin-top: 3px;
        margin-left: 4px;

    }
    .costillas {

    }
    .row li {

    }
}

/* CSS for Portrait */
@media screen and (max-width: 768px) and (orientation: portrait){
    body{
        background: url('../img/bg_mobile.jpg') !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .banda{
        background: transparent url("../img/bandaH.png") repeat scroll 0% 0% !important;
        width: 100%;
        padding-top: 130%;
        background-size: cover !important;
    }

    .footer{
        display: none;
    }

    .fb_api{
        top: 75%;
        left: 49%;
    }

    .fb_api img{

    }

    .show-carousel{
        position: absolute;
        width: 80%;
        height: 60px;
        bottom: 0px;
        left: 13%;
        cursor: pointer;
    }
}

@media screen and (max-width: 640px) and (orientation: portrait){
    .banda{
        padding-top: 137% !important;
        margin-left: -3% !important;
    }

    .show-carousel{
        height: 35px !important;
    }
}