/* Style Sheet Super Cerdo */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,600);
html, body{
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0%;
    overflow-x: hidden;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F3F3F;
    font-size: 10px;
    font-weight: 900;
}

.friend-check {
    background: url(../img/checks/off.png) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 42%;
    margin-top: -50%;
    padding-top: 20%;
    width: 20%;
}
.banda {
    padding-top: 48%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
    width: 36%;
    color: #f8f8f8;
    background: url(../img/banda-roja-completa.png) no-repeat ;
    background-size: contain;
    -o-background-size: cover;
    position:relative;
}

.fb_api {
    padding-top: 7%;
    width: 100%;
    /*background: url(../img/boton-fb-on.png) no-repeat ;
    background-size: contain;
    -o-background-size: cover;*/
    position: absolute;
    margin-top: -60%;
    margin-left: 2%;
}
.fb_div {
    margin-top: 50px;
    position: absolute;
}
td {
    width: 100px;
    padding: 0;
}
.friend-frame {
    background: url(../img/plano-foto-amigos-fb.png) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position:relative;
    padding-top: 169%;
    width: 100%;
    margin: 0 !important;
}
.friend-name {
    position: absolute;
    margin-top: -80%;
    width: 50%;
    margin-left: 25%;
}
.tl-friend {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}
.tc-friend {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}

.tr-friend {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}

.dl-friend {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}

.dc-friend {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}

.dr-friend {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 20%;
    margin-top: -151%;
    padding-top: 64%;
    width: 63%;
}

.user-frame {
    background: url(../img/marco-foto-avatar.png) no-repeat ;
    background-size: contain;
    -o-background-size: cover;
    position:relative;
    padding-top: 43%;
    width: 44%;
    margin-left: 29px;
}
.user-pic {
    background: url(../img/default_avatar.jpg) no-repeat ;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    margin-left: 12%;
    margin-top: -85%;
    padding-top: 74%;
    width: 73%;
}
.footer {
    height: 115px;
    bottom: -2px;
    /*padding: 3%;*/
    position: absolute;
    width: 100%;
    margin: 0;
}
.costillas {
    padding: 0;
    width: 100%;
    background-color: #f8f8f8;
    height: 100%;
}
.row li {
    bottom: 0;
    width: 14%;
    float: right;
    margin-top: 4px;
    margin-left: 2px;
    margin-bottom: 4px;
    background-color: #f8f8f8;
}
.row ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin-left: -7px;
}
img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.img-inline {
    float: right;
    margin: 0px 0px 15px 15px;
}

.caluga{
    width:14vw;
    height:100%;
    float: left;
    display: inline-block;
    margin-left: 3.5px;
}

.clear{
    clear: both;
}

.prod1{
    background-image: url(../img/producto-1-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod2{
    background-image: url(../img/producto-2-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod3{
    background-image: url(../img/producto-3-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod4{
    background-image: url(../img/producto-4-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod5{
    background-image: url(../img/producto-5-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod6{
    background-image: url(../img/producto-6-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod7{
    background-image: url(../img/producto-7-normal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod1:hover{
    background-image: url(../img/producto-1-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod2:hover{
    background-image: url(../img/producto-2-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod3:hover{
    background-image: url(../img/producto-3-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod4:hover{
    background-image: url(../img/producto-4-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod5:hover{
    background-image: url(../img/producto-5-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod6:hover{
    background-image: url(../img/producto-6-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.prod7:hover{
    background-image: url(../img/producto-7-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive 1*/

img {
    max-width: 100%;
    max-height: 100%;
}

/* Responsive 2*/

/*#banda {
width: 614px;
height: 654px;
background-image: url(../img/banda-roja-completa.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}*/

#medallas{
    float: right;
    position: absolute;
    left:55%;
    top: -7%;
}




.no-padding {

    padding-left: 0px !important;
    padding-right: 0px !important;

}


/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

/* RESPONSIVES DESKTOPS */
@media only screen and (min-width : 1824px) {
    .banda {
        width: 675px;
        padding-top: 49%;
    }
    .footer {
        height: 155px;
        bottom: -10px;
    }
    .fb_api {
        padding-top: 0%;
        margin-top: -395px;
        margin-left: 200px;
    }
}

@media only screen and (max-width : 1280px) and (min-width: 1000px) and (max-height: 800px) {
    .banda {
        padding-top: 61%;
        width: 550px;
    }
    .footer {
        height: 108px;
        bottom: 0px;
    }
    .fb_api {
        padding-top: 0%;
        margin-top: -355px;
        margin-left: 145px;
    }
}

@media only screen and (max-width : 1280px) and (min-width: 1000px) and (max-height: 600px) {
    .banda {
        padding-top: 46%;
        width: 445px;
    }
    .footer {
        height: 108px;
        bottom: 0px;
    }
}

@media only screen and (max-width : 1024px) and (min-width: 768px) {
    .banda {
        width: 540px;
        padding-top: 72%;
    }
    .footer {
        height: 87px;
        bottom: -7px;
    }
    .fb_api {
        margin-top: -320px;
        margin-left: 155px;
    }
    .row ul {
        margin-left: -5px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 800px) and (max-height: 600px) {
    .banda {
        width: 305px;
        padding-top: 71%;
    }
    .footer {
        height: 70px;
        bottom: -9px;
    }
}
@media only screen and (max-width: 568px) and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) {
    .banda {
        width: 200px;
        padding-top: 46%;
    }
    .footer {
        height: 49px;
        bottom: -44px;
    }
    .row ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        margin-left: -3px;
    }
    .row li {
        bottom: 0;
        width: 14%;
        float: right;
        margin-top: 2px;
        margin-left: 1px;
        margin-bottom: 1px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 480px) and (max-height: 320px) and (orientation : landscape) {
    .banda {
        width: 170px;
        padding-top: 46%;
    }
    .footer {
        height: 41px;
        bottom: -84px;
    }
    .row ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        margin-left: -3px;
    }
    .row li {
        bottom: 0;
        width: 14%;
        float: right;
        margin-top: 2px;
        margin-left: 1px;
        margin-bottom: 1px;
    }
}





/* 7 Columns */

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
/* 14% = 100% (full-width row) divided by 7 */

img{
    max-width: 100%;
}

/* Facebook */

.facebooklogin{
    font-size:100%;
    font-family:arial;
    display:block;
    width:200px;
    height:20px;
    background-color:#142dac;
    color: #FFFFFF;
    text-decoration:none;
    padding:20px;
    border-radius:5px;
    margin:0 auto;
    text-align:center;
}

.facebooklogin:hover{
    background-color:#4158cc;
}

.user{
    font-size:100%;
    font-family:arial;
    display:block;
    width:200px;
    height:20px;
    background-color:#142dac;
    color: #FFFFFF;
    text-decoration:none;
    padding:20px;
    border-radius:5px;
    margin:0 auto;
    text-align:center;
}

.fb-button {

    margin: 315px 0px 0px 130px;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #dc0c1b;
    z-index: 2;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
.overlay .easy_load {
    width: 74px;
    height: 74px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37px 0 0 -37px;
    background: transparent url(../img/easy.png) no-repeat; }
.overlay.active {
    opacity: 1;
    visibility: visible; }
.overlay .barra-load {
    width: 0;
    height: 40px;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease; }